Repository istarwyh/ai-speeds: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=100, prettier --write

Centralize homepage menu and feature pages
  public/robots.txt
  public/sitemap.xml
  src/app/(main)/home/page.tsx
  src/app/(main)/playground/layout.tsx
  src/app/layout.tsx
  src/app/sitemap.ts
  src/components/HomePageWithNav.tsx
  src/config/features.ts
  src/config/navigation.ts
  src/config/ui-texts.ts
  src/lib/config/navigation.ts
Due: eslint --fix --max-warnings=100

chore(deps): upgrade @cc4pm/homepage to 1.0.11
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade @cc4pm/homepage to 1.0.12
  package.json
Due: prettier --write

chore(deps): upgrade @cc4pm/homepage to 1.0.12 (#66)
  package.json
Due: prettier --write

fix: update pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): use correct build command in deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write

ci: add pr checks for deployment readiness
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  package.json
Due: prettier --write

chore(deps): upgrade @cc4pm/homepage to 1.0.13
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add agnes playground preset
  src/app/(main)/playground/page.tsx
  src/app/api/playground/models/route.ts
  src/app/api/playground/route.ts
Due: eslint --fix --max-warnings=100

feat: add recording summary page
  src/app/api/recording-summary/route.ts
  src/app/recording-summary/page.tsx
  src/config/features.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100

fix: address recording summary review feedback
  src/app/recording-summary/page.tsx
Due: eslint --fix --max-warnings=100

feat: support audio-first recording summaries
  src/app/api/recording-summary/transcribe/route.ts
  src/app/recording-summary/page.tsx
Due: eslint --fix --max-warnings=100

fix: prevent cleared recordings from reappearing
  src/app/recording-summary/page.tsx
Due: eslint --fix --max-warnings=100

chore: enforce legacy architecture boundaries
  .claude/rules/architecture-boundaries.md
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  .gitignore
  .husky/pre-push
  CLAUDE.md
  architecture/compatibility-manifest.json
  docs/LEGACY_ISOLATION_GUIDE.md
  docs/QUICK_START_NEW_DEV.md
  docs/SRC_ARCHITECTURE.md
  docs/best-practices/BUILD_TIME_BUNDLING_IMPLEMENTATION.md
  eslint.config.js
  next.config.mjs
  package.json
  public/_headers
  public/static/cc4pm-homepage.html
  scripts/node-runtime.mjs
  scripts/prepare-cc4pm-homepage.mjs
  scripts/prepare-share-assets.mjs
  scripts/publish-share-assets.mjs
  scripts/validate-architecture.mjs
  scripts/validate-share-assets.ts
  src/app/layout.tsx
  src/components/HomePageWithNav.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=100, prettier --write

fix: align share routes after worktree integration
  src/app/(main)/shares/[slug]/deck/page.tsx
  src/app/(main)/shares/[slug]/layout.tsx
  src/app/(main)/shares/[slug]/page.tsx
  src/app/(main)/shares/page.tsx
  src/config/site-url.ts
Due: eslint --fix --max-warnings=100

fix: satisfy architecture boundary checks
  eslint.config.js
  scripts/validate-architecture.mjs
  src/app/(site)/layout.tsx
  src/app/(tools)/wireframe/page.tsx
  src/app/_lib/site-content-validation.ts
  src/app/_lib/site-search.ts
  src/app/sitemap.ts
  src/components/HomePageWithNav.tsx
  src/components/features/ai-wireframe/index.ts
  src/components/features/shares/ShareCard.tsx
  src/components/features/shares/ShareDetail.tsx
  src/components/home/PublicWorkSection.tsx
  src/config/contributors.ts
  src/content/contributors/registry.ts
  src/content/contributors/types.ts
  src/content/shares/attribution.ts
  src/content/shares/index.ts
  src/content/shares/provenance.ts
  src/lib/attribution.ts
  src/lib/search-query.ts
  src/lib/search.ts
  src/lib/site-content-validation.ts
  src/types/content-provenance.ts
Due: eslint --fix --max-warnings=100

feat: add harbor self-evolving product
  docs/tech/202609/HARBOR_SELF_EVOLVING_INTEGRATION.md
  next.config.mjs
  src/app/(main)/product/harbor-self-evolving/page.tsx
  src/config/features.ts
  src/config/ui-texts.ts
  tsconfig.json
Due: eslint --fix --max-warnings=100, prettier --write

fix: include ambient types in scoped pre-push
  .husky/pre-push
Due: none

fix: validate share registry module directly
  scripts/validate-share-assets.ts
Due: eslint --fix --max-warnings=100

fix: load node types in scoped pre-push
  .husky/pre-push
Due: none

docs: refresh architecture and remove obsolete plans
  .claude/rules/architecture-boundaries.md
  CLAUDE.md
  README.md
  docs/LEGACY_ISOLATION_GUIDE.md
  docs/QUICK_START_NEW_DEV.md
  docs/SRC_ARCHITECTURE.md
  docs/tech/202609/HARBOR_SELF_EVOLVING_INTEGRATION.md
  docs/tech/ADD_CARD.md
  docs/tech/CONTENT_MANAGEMENT_IMPLEMENTATION_PLAN.md
  docs/tech/CONTENT_MANAGEMENT_IMPROVEMENT.md
  docs/tech/MOBILE_OPTIMIZATION_PLAN.md
  docs/tech/SHARE_LINK_USER_STORIES.md
  docs/tech/SSOT_CONTENT_MAP_REFACTOR.md
Due: prettier --write

feat: integrate yourbuddy product site
  CLAUDE.md
  README.md
  docs/QUICK_START_NEW_DEV.md
  docs/SRC_ARCHITECTURE.md
  docs/tech/202609/YOURBUDDY_INTEGRATION.md
  src/app/(immersive)/product/yourbuddy/page.tsx
  src/config/features.ts
  src/config/site-navigation.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add writinghelper product integration
  CLAUDE.md
  README.md
  docs/QUICK_START_NEW_DEV.md
  docs/SRC_ARCHITECTURE.md
  docs/tech/202610/WRITING_HELPER_VSCODE_EXTENSION_INTEGRATION.md
  public/images/products/writing-helper/demo.gif
  public/images/products/writing-helper/icon.png
  src/app/(site)/product/writing-helper/page.tsx
  src/config/features.ts
  src/config/site-links.ts
  src/config/site-navigation.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add mcp advisor product integration
  .gitignore
  CLAUDE.md
  README.md
  docs/QUICK_START_NEW_DEV.md
  docs/SRC_ARCHITECTURE.md
  docs/tech/202610/MCP_ADVISOR_INTEGRATION.md
  public/images/products/mcp-advisor/discovery-result.png
  src/app/(site)/product/mcp-advisor/page.tsx
  src/config/features.ts
  src/config/site-links.ts
  src/config/site-navigation.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add xiaohui blog navigation
  CLAUDE.md
  README.md
  docs/SRC_ARCHITECTURE.md
  src/components/site/DesktopNavigation.tsx
  src/components/site/MobileNavigation.tsx
  src/config/site-links.ts
  src/config/site-navigation.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: soften mcp advisor hero colors
  src/app/(site)/product/mcp-advisor/page.tsx
Due: eslint --fix --max-warnings=100

Path conditions:
  eslint --fix --max-warnings=100: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml,css,scss,html}
