Repository istarwyh/ai-speeds: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=100, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=100"],
  "*.{json,md,yaml,yml,css,scss,html}": ["prettier --write"]
}

ci: add sync-cc4pm workflow for upstream package dispatch
  .github/workflows/sync-cc4pm.yml
Due: prettier --write

ci: remove pnpm cache to fix post-setup error
  .github/workflows/sync-cc4pm.yml
Due: prettier --write

docs: add multi-repo pipeline best practices
  docs/best-practices/MULTI_REPO_PIPELINE.md
Due: prettier --write

ci: add cloudflare workers auto deploy after cc4pm upgrade
  .github/workflows/sync-cc4pm.yml
  docs/best-practices/MULTI_REPO_PIPELINE.md
Due: prettier --write

ci: add build:client:direct before cf:build to generate client bundles
  .github/workflows/sync-cc4pm.yml
Due: prettier --write

docs: update pipeline pitfalls with cloudflare token and build order fixes
  docs/best-practices/MULTI_REPO_PIPELINE.md
Due: prettier --write

chore: bump @cc4pm/homepage to ^1.0.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: include @cc4pm/homepage mtime in build cache key
  scripts/build-client-safe.cjs
Due: none

chore: upgrade dependencies and fix TS6 deprecations
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

ci: add auto-deploy to Cloudflare Workers on push to main
  .github/workflows/deploy.yml
Due: prettier --write

ci: fix deploy workflow - build client before typecheck, add CSS types
  .github/workflows/deploy.yml
  types/css.d.ts
Due: eslint --fix --max-warnings=100, prettier --write

ci: bump Node.js to 22 for wrangler compatibility
  .github/workflows/deploy.yml
Due: prettier --write

docs: rewrite CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: prettier --write

style: compact sidebar with default-collapsed state
  last_build.json
  src/components/HomePageWithNav.tsx
  src/legacy/components/navigation/navigation.ts
  src/legacy/styles/navigationStyles.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add API playground for testing OpenAI and Anthropic endpoints
  eslint.config.js
  src/app/(main)/playground/page.tsx
  src/app/api/playground/models/route.ts
  src/app/api/playground/route.ts
  src/config/ui-texts.ts
  src/legacy/client/shared/config/heroicons.ts
  src/legacy/components/navigation/navigation.ts
Due: eslint --fix --max-warnings=100

fix: add rootDir to scoped typecheck tsconfig to fix path resolution
  .husky/pre-push
Due: none

feat: add OpenAI Responses API support and SSRF protection to playground
  README.md
  last_build.json
  src/app/(main)/playground/page.tsx
  src/app/api/playground/models/route.ts
  src/app/api/playground/route.ts
  src/lib/url-validation.ts
Due: eslint --fix --max-warnings=100, prettier --write

docs: document cc4pm homepage integration
  CLAUDE.md
  README.md
  src/components/HomePageWithNav.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: add CSS declaration for scoped typecheck
  src/app/globals.css.d.ts
Due: eslint --fix --max-warnings=100

docs: address pr review feedback
  .claude/rules/strip-frontmatter.md
  CLAUDE.md
  README.md
Due: prettier --write

docs: refresh cc4pm homepage integration
  package.json
  pnpm-lock.yaml
  src/app/(main)/brand/page.tsx
  src/components/HomePageWithNav.tsx
  src/components/features/get-started/GetStartedSection.tsx
  src/config/providers.ts
  src/config/ui-texts.ts
  src/styles/designTokens.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: serve cc4pm homepage as static asset
  .prettierignore
  package.json
  public/static/cc4pm-homepage.html
  scripts/prepare-cc4pm-homepage.mjs
  src/app/api/static/homepage/route.ts
  src/components/HomePageWithNav.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: improve mobile homepage responsiveness
  public/static/cc4pm-homepage.html
  scripts/prepare-cc4pm-homepage.mjs
  src/app/api/static/homepage/route.ts
  src/components/HomePageWithNav.tsx
  src/components/features/get-started/GetStartedSection.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: improve mobile homepage responsiveness
  .prettierignore
  package.json
  pnpm-lock.yaml
  public/static/cc4pm-homepage.html
  scripts/prepare-cc4pm-homepage.mjs
  src/app/(main)/brand/page.tsx
  src/app/api/static/homepage/route.ts
  src/app/globals.css
  src/app/v1/messages/route.ts
  src/components/HomePageWithNav.tsx
  src/components/features/get-started/GetStartedSection.tsx
  src/config/providers.ts
  src/config/ui-texts.ts
  src/styles/designTokens.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: keep messages shim deploy-compatible
  src/app/v1/messages/route.ts
Due: eslint --fix --max-warnings=100

feat: add robots and sitemap
  public/robots.txt
  public/sitemap.xml
Due: none

fix: address seo metadata review
  public/robots.txt
  public/sitemap.xml
  src/app/robots.ts
  src/app/sitemap.ts
  src/config/site-url.ts
  wrangler.toml
Due: eslint --fix --max-warnings=100

feat: simplify homepage navigation into menu
  src/components/HomePageWithNav.tsx
  src/components/features/ai-wireframe/AiWireframeSection.tsx
  src/config/navigation.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100

fix: address wireframe review feedback
  src/components/features/ai-wireframe/AiWireframeSection.tsx
Due: eslint --fix --max-warnings=100

Simplify homepage navigation into menu (#62)
  public/robots.txt
  public/sitemap.xml
  src/components/HomePageWithNav.tsx
  src/components/features/ai-wireframe/AiWireframeSection.tsx
  src/config/navigation.ts
  src/config/ui-texts.ts
Due: eslint --fix --max-warnings=100

Add robots and sitemap (#61)
  src/app/robots.ts
  src/app/sitemap.ts
  src/config/site-url.ts
  wrangler.toml
Due: eslint --fix --max-warnings=100

feat: polish homepage menu and wireframe visuals
  CLAUDE.md
  src/app/design/style-guide/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/HomePageWithNav.tsx
  src/components/features/ai-wireframe/AiWireframeSection.tsx
  src/styles/designTokens.ts
  tailwind.config.ts
Due: eslint --fix --max-warnings=100, prettier --write

style: align wireframe controls with floating tokens
  src/components/features/ai-wireframe/AiWireframeSection.tsx
Due: eslint --fix --max-warnings=100

Polish homepage menu and wireframe controls
  CLAUDE.md
  src/app/design/style-guide/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/HomePageWithNav.tsx
  src/components/features/ai-wireframe/AiWireframeSection.tsx
  src/styles/designTokens.ts
  tailwind.config.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: centralize feature page registry
  public/robots.txt
  public/sitemap.xml
  src/app/(main)/home/page.tsx
  src/app/(main)/playground/layout.tsx
  src/app/sitemap.ts
  src/components/HomePageWithNav.tsx
  src/config/features.ts
  src/config/navigation.ts
  src/lib/config/navigation.ts
Due: eslint --fix --max-warnings=100
