Repository istarwyh/ai-speeds: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=100, prettier --write

fix: add CSS module type declarations
  src/client/shared/types/globals.d.ts
Due: eslint --fix --max-warnings=100

fix: address code review feedback for PR #49
  src/client/shared/services/ShareService.ts
  src/components-next/ShareCard/ShareCardFooter.tsx
Due: eslint --fix --max-warnings=100

refactor: migrate share service to pure client-side solution
  src/app/api/img-proxy/route.ts
  src/client/shared/handlers/BaseArticleEventHandler.ts
  src/client/shared/renderers/BaseCardRenderer.ts
  src/client/shared/services/ShareService.ts
  src/components-next/ShareCard/ShareCard.module.css
  src/components-next/ShareCard/ShareCard.tsx
  src/components-next/ShareCard/ShareCardContent.tsx
  src/components-next/ShareCard/ShareCardFooter.tsx
  src/components-next/ShareCard/ShareCardHeader.tsx
  src/components-next/ShareCard/ShareCardImage.tsx
  src/components-next/ShareCard/ShareCardTags.tsx
  src/components-next/ShareCard/ShareCardTips.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: address code review feedback for PR #50
  src/app/api/img-proxy/route.ts
  src/client/shared/services/ShareService.ts
Due: eslint --fix --max-warnings=100

Update src/app/api/img-proxy/route.ts
  src/app/api/img-proxy/route.ts
Due: eslint --fix --max-warnings=100

fix: add error logging to empty catch blocks in ShareService
  src/client/shared/services/ShareService.ts
Due: eslint --fix --max-warnings=100

refactor: streamline directory structure and service organization
  docs/LEGACY_ISOLATION_GUIDE.md
  docs/QUICK_START_NEW_DEV.md
  docs/SRC_ARCHITECTURE.md
  docs/chore/MIGRATION_FINAL_SUMMARY.md
  docs/chore/MIGRATION_PROGRESS.md
  docs/chore/MIGRATION_STAGE4_CLEANUP.md
  docs/design/SHADCN_INTEGRATION.md
  docs/tech/202510/UPGRADE_TO_NEXT_ARCHITECTURE.md
  docs/tech/MOBILE_OPTIMIZATION_PLAN.md
  src/app/(main)/home/page.tsx
  src/app/api/v1/messages/route.ts
  src/app/design/style-guide/page.tsx
  src/app/page.tsx
  src/components-next/examples/ShadcnExample.tsx
  src/components/BrandIcon.tsx
  src/components/LegacyPageWrapper.tsx
  src/services/llm-provider/adapters/format.ts
  src/services/llm-provider/adapters/stream.ts
  src/services/llm-provider/providers.ts
  src/services/llm-provider/types.ts
  tsconfig.json
Due: eslint --fix --max-warnings=100, prettier --write

docs: update documentation for v1.1.0 architecture refactoring
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: prettier --write

refactor: optimize code after architecture review
  docs/tech/202510/UPGRADE_TO_NEXT_ARCHITECTURE.md
  src/legacy/features/get-started/components/deployment.ts
  src/legacy/features/get-started/components/setup.ts
  src/legacy/features/get-started/types/provider.ts
  src/services/llm-provider/providers.ts
Due: eslint --fix --max-warnings=100, prettier --write

refactor: production-ready optimization with TypeScript safety
  package.json
  pnpm-lock.yaml
  scripts/build-client-safe.cjs
  scripts/build-client.cjs
  src/legacy/components/navigation/navigation.ts
  src/services/llm-provider/adapters/format.ts
  src/services/llm-provider/adapters/stream.ts
  types/eslint-plugin-security.d.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: enhance navigation system with modern UX and accessibility features
  docs/navigation-improvements.md
  src/legacy/components/navigation/navigation.ts
  src/legacy/scripts/scripts/navigation.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: 修复导航栏定位和内容区域空白问题
  src/components/LegacyPageWrapper.tsx
  src/legacy/components/navigation/navigation.ts
Due: eslint --fix --max-warnings=100

feat: enhance navigation display and add NVIDIA NIM provider integration
  docs/tech/202601/NVIDIA_NIM_PROVIDER_INTEGRATION.md
  last_build.json
  src/app/api/v1/messages/route.ts
  src/app/design/style-guide/page.tsx
  src/components/BrandIcon.tsx
  src/legacy/features/get-started/index.ts
  src/legacy/features/get-started/types/provider.ts
  src/services/llm-provider/providers.ts
  src/services/llm-provider/types.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: 修复页面初始加载空白问题
  last_build.json
  src/app/api/v1/messages/route.ts
  src/app/layout.tsx
  src/legacy/client/bestPractices/index.ts
  src/legacy/scripts/scripts/navigation.ts
  src/services/llm-provider/adapters/format.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add /v1/messages route for Claude Code compatibility
  README.md
  docs/best-practices/BUILD_TIME_BUNDLING_IMPLEMENTATION.md
  docs/best-practices/NAVIGATION_BEST_PRACTICES.md
  docs/best-practices/WORKER-DEV-GUIDE.md
  docs/chore/MIGRATION_FINAL_SUMMARY.md
  docs/chore/MIGRATION_STAGE4_CLEANUP.md
  docs/tech/202510/NPM_TO_PNPM_MIGRATION.md
  docs/tech/202510/UPGRADE_TO_NEXT_ARCHITECTURE.md
  src/app/v1/messages/route.ts
  src/legacy/features/get-started/components/deployment.ts
  src/legacy/features/get-started/index.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add tool_result content type support for Anthropic to OpenAI conversion
  CLAUDE.md
  README.md
  last_build.json
  src/legacy/client/howToApplyCC/content/sre-agent-example.md
  src/services/llm-provider/adapters/format.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: 更改默认模型为 moonshotai/kimi-k2.5 并默认关闭 thinking
  src/services/llm-provider/adapters/format.ts
  src/services/llm-provider/providers.ts
Due: eslint --fix --max-warnings=100

fix: 处理 PR 56 的审查意见
  src/legacy/client/howToApplyCC/content/sre-agent-example.md
  src/services/llm-provider/adapters/format.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: update DeepSeek configuration to use official API endpoint
  CLAUDE.md
  last_build.json
  public/favicon.svg
  src/app/layout.tsx
  src/legacy/components/navigation/navigation.ts
  src/legacy/features/get-started/types/provider.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: redesign logo with A+S mountain climbing path concept
  docs/navigation-improvements.md
  docs/tech/202604/WHITEBOARD_FEATURE.md
  last_build.json
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  src/app/(main)/whiteboard/page.tsx
  src/app/design/style-guide/page.tsx
  src/components/BrandIcon.tsx
  src/components/features/whiteboard/WhiteboardCanvas.tsx
  src/components/features/whiteboard/WhiteboardLoader.tsx
  src/components/features/whiteboard/index.ts
  src/config/ui-texts.ts
  src/legacy/client/shared/config/heroicons.ts
  src/legacy/components/navigation/navigation.ts
  src/legacy/scripts/scripts/navigation.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: address code review feedback from PR #57
  docs/tech/202604/WHITEBOARD_FEATURE.md
  src/app/design/style-guide/page.tsx
  src/services/llm-provider/providers.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add whiteboard tab with tldraw and brand header
  src/app/(main)/whiteboard/page.tsx
  src/config/ui-texts.ts
  src/legacy/client/shared/config/heroicons.ts
  src/legacy/components/navigation/navigation.ts
Due: eslint --fix --max-warnings=100

feat: remove AI trends page and clean up navigation
  last_build.json
  open-next.config.ts
  src/app/api/img-proxy/route.ts
  src/app/layout.tsx
  src/app/trends/20251007/page.tsx
  src/legacy/components/trends/TrendsArticle.tsx
  src/lib/config/navigation.ts
Due: eslint --fix --max-warnings=100, prettier --write

refactor: replace tldraw with excalidraw (MIT, no license required)
  package.json
  pnpm-lock.yaml
  src/components/features/whiteboard/WhiteboardCanvas.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: update navigation configuration and legacy components
  last_build.json
  src/components/LegacyPageWrapper.tsx
  src/config/navigation.ts
  src/config/ui-texts.ts
  src/legacy/client/shared/config/heroicons.ts
  src/legacy/components/navigation/navigation.ts
  src/legacy/scripts/scripts/navigation.ts
  src/legacy/styles/designTokens.ts
  src/legacy/styles/navigationStyles.ts
  src/lib/config/navigation.ts
  src/styles/designTokens.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: optimize cc4pm iframe display and sidebar functionality
  src/legacy/styles/navigationStyles.ts
Due: eslint --fix --max-warnings=100

feat: complete brand redesign with mountain climbing logo concept
  docs/BRAND_GUIDELINES.md
  docs/fix/cc4pm-homepage-issues.md
  last_build.json
  public/brand/README.md
  public/brand/ai-speeds-icon.svg
  public/brand/ai-speeds-logo-horizontal.svg
  public/brand/ai-speeds-logo.svg
  public/brand/ai-speeds-monochrome.svg
  public/brand/brand-kit.js
  src/app/(main)/brand/layout.tsx
  src/app/(main)/brand/page.tsx
  src/app/(main)/whiteboard/page.tsx
  src/app/design/style-guide/page.tsx
  src/components/brand/BrandConstants.ts
  src/components/brand/BrandFavicon.tsx
  src/components/brand/BrandIcon.tsx
  src/components/brand/BrandLogo.tsx
  src/components/brand/README.md
  src/components/brand/index.ts
  src/legacy/components/navigation/navigation.ts
  src/legacy/scripts/scripts/navigation.ts
  src/legacy/styles/navigationStyles.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: update build configuration and legacy get-started feature
  last_build.json
  src/legacy/features/get-started/index.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: update brand assets and page implementation
  last_build.json
  public/brand/README.md
  public/brand/brand-kit.js
  src/app/(main)/brand/page.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: replace cc4pm iframe with @cc4pm/homepage package
  last_build.json
  package.json
  pnpm-lock.yaml
  src/components/LegacyPageWrapper.tsx
  tsconfig.json
  types/cc4pm-homepage.d.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: extract body content to resolve hydration mismatch
  last_build.json
  src/app/page.tsx
  src/components/LegacyPageWrapper.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: logo redesign as mountain climbing theme
  last_build.json
  src/app/api/static/homepage/route.ts
  src/app/page.tsx
  src/components/LegacyPageWrapper.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: improve homepage navigation and sidebar responsiveness
  last_build.json
  src/app/page.tsx
  src/legacy/styles/navigationStyles.ts
Due: eslint --fix --max-warnings=100, prettier --write

chore: upgrade @cc4pm/homepage to v1.0.1
  package.json
  pnpm-lock.yaml
  scripts/build-client-safe.cjs
  scripts/build-client.cjs
  src/app/api/static/homepage/route.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix(mobile): resolve mobile display issues across navigation and layout
  last_build.json
  src/app/(main)/home/page.tsx
  src/app/page.tsx
  src/legacy/components/navigation/navigation.ts
  src/legacy/styles/navigationStyles.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: mobile responsive styles for get-started page
  src/legacy/styles/componentStyles.ts
  src/legacy/styles/navigationStyles.ts
Due: eslint --fix --max-warnings=100

feat: logo redesign as mountain climbing
  last_build.json
  netlify.toml
  src/app/(main)/home/page.tsx
  src/app/page.tsx
  src/components/LegacyPageWrapper.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: update homepage and add navigation wrapper
  src/app/(main)/home/page.tsx
  src/app/page.tsx
  src/components/HomePageWithNav.tsx
Due: eslint --fix --max-warnings=100

feat: update homepage and add navigation wrapper
  src/app/(main)/home/page.tsx
  src/components/LegacyPageWrapper.tsx
Due: eslint --fix --max-warnings=100

Path conditions:
  eslint --fix --max-warnings=100: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml,css,scss,html}
